form{
    background-color: var(--primaria);
    padding: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 5px 5px 10px var(--sobra);
}
h3{
    text-align: center;
    color: var(--text-cor1);
    margin: 5px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
form input[type="text"],
form input[type="email"],
form input[type="password"],
form input[type="date"],
form input[type="number"]{
    font-size: 14px;
    max-width: 310px;
    height: 45px;
    border: none;
    padding-left: 10px;
    margin-right: 5px;
    margin-bottom: 10px;
    border-radius: 4px;
    color: var(--text-cor2);
}
form select{
    font-size: 14px;
    max-width: 310px;
    height: 45px;
    border: none;
    padding-left: 10px;
    margin-right: 5px;
    margin-bottom: 10px;
    border-radius: 4px;
}
.textsize{
    width: 250px;
}
form input[readonly]{
    user-select: none;
}
form input[readonly]:hover{
    cursor:not-allowed;
}
form label{
    color: var(--text-cor1);
    padding: 0 5%;
}
form button{
    width: 50%;
    max-width: 250px;
    height: 40px;
    cursor: pointer;
    background: var(--secundaria);
    color: var(--text-cor1);
    border: 2px solid var(--secundaria);
    border-radius: 4px;
    transition: background .4s;
}
form button:hover{
    background: var(--primaria);
}
.redirect{
    color: var(--text-cor1);
    display: inline-block;
    text-decoration: none;
    transition: color .4s;
}
.redirect-R{
    float: right;
    padding: 10px;
}
.redirect-M{
    margin-left: 30px;
}
.redirect:hover{
    color: var(--secundaria);
    text-decoration: none;
}
.textsbox{
    margin-bottom: 10px;
}
.boxlabel{
    width: min-content;
}
.btn_Excluir:hover{
    color: var(--text-Excluir);
}
.login{
    max-width: 350px;
    width: 70%;
}
.formulario{
    background-color: var(--primaria);
    margin-top: 5%;
    width: 90%;
    height: auto;
    padding: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 5px 5px 10px var(--sobra);
}
.btn_exe{
    float: right;
}
.CadaCli{
    top: 40%;
    max-width: 290px;
    min-width: 200px;
    width: auto;
}
.lista{
    background-color: var(--primaria);
    margin-top: 50px;
    width: 90%;
    height: auto;
    padding: 20px;
}
.CadaEst{
    width: 875px;
    margin-top: 0%;
}
.messagebox{
    background-color: var(--primaria);
    padding: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 5px 5px 10px var(--sobra);
    color: var(--text-cor1);
    min-width: 700px;
}
.messagebox h1{
    text-align: center;
}
.inputs{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
@media (max-width: 1200px) {
    .CadaEst{
        width: 560px;
    }
}
@media (max-width: 768px) {
    .CadaEst{
        width: 290px;
    }
}