table{
    min-width: max-content;
    width: 100%;
}
table th{
    height: 50px;
    color: var(--text-cor1);
}
table tr{
    margin: 50px;
}
table td{
    border-bottom: 1px solid var(--text-cor1);
}
table tr:hover{
    background-color: var(--sobra);
}
table th,
table td{
    height: 30px;
    color: var(--text-cor1);
    text-align: center;
    padding: 8px 8px;
}
table td a{
    margin-left: 0px;
}
.BoxLista{
    overflow-x: auto;
}
.Buscarbox{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    box-shadow: none;
    padding: 10px;
}
.Buscar-btn{
    min-width: min-content;
    max-width: 150px;
    padding: revert;
    width: 20%;
}
@media (max-width: 1269px) {
    table th,
    table td{
        padding: 5px 10px;
    }
}