<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>CadastrarCliente</servlet-name>
        <servlet-class>com.projeto.servlet.CadastrarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cadastra_Cliente</servlet-name>
        <servlet-class>com.projeto.servlet.Cadastra_Cliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listaClientes</servlet-name>
        <servlet-class>com.projeto.servlet.listaClientes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirCliente</servlet-name>
        <servlet-class>com.projeto.servlet.ExcluirCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtualizarCliente</servlet-name>
        <servlet-class>com.projeto.servlet.AtualizarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarProduto</servlet-name>
        <servlet-class>com.projeto.servlet.CadastrarProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listaEstoque</servlet-name>
        <servlet-class>com.projeto.servlet.listaEstoque</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirProduto</servlet-name>
        <servlet-class>com.projeto.servlet.ExcluirProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtualizarProduto</servlet-name>
        <servlet-class>com.projeto.servlet.AtualizarProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioClientes</servlet-name>
        <servlet-class>com.projeto.servlet.RelatorioClientes</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CadastrarCliente</servlet-name>
        <url-pattern>/CadastrarCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cadastra_Cliente</servlet-name>
        <url-pattern>/Cadastra_Cliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listaClientes</servlet-name>
        <url-pattern>/listaClientes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirCliente</servlet-name>
        <url-pattern>/ExcluirCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtualizarCliente</servlet-name>
        <url-pattern>/AtualizarCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarProduto</servlet-name>
        <url-pattern>/CadastrarProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listaEstoque</servlet-name>
        <url-pattern>/listaEstoque</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirProduto</servlet-name>
        <url-pattern>/ExcluirProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtualizarProduto</servlet-name>
        <url-pattern>/AtualizarProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioClientes</servlet-name>
        <url-pattern>/RelatorioClientes</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
