:root{
    --primaria: rgb(37, 37, 39);
    --secundaria: rgb(24, 139, 233);
    --sobra: rgb(51, 51, 51);
    
    --text-cor1: #ffffff;
    --text-cor2: #000000;
    --text-cor3: rgb(24, 139, 233);
    --text-Excluir: rgb(255, 0, 0);

    --text_grup1: rgb(99, 70, 50);
    --text_grup2: rgb(183, 65, 14);
    --text_grup3: #2d815d;
    --text_grup4: #2d7b81;
    --text_grup5: #2d5181;
}