header{
    width: 100%;
    background-color: var(--primaria);
    box-shadow: 0px 1px 10px rgb(0, 0, 0);
}
#menu-h{
    width: 80%;
    list-style: none;
    padding: 0;
    height:60px;
    position: relative;
}
#menu-h li{
    float: right;
    display: inline;
}
#menu-h li a{
    color: var(--text-cor1);
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    border-radius: 2px;
    transition: all .4s ease 0s;
}
#menu-h li a:hover{
    background-color: var(--secundaria);
    transform: translateY(2px);
    box-shadow: 0px 1px 10px rgb(0, 0, 0);
}
#menu-h ul{
    opacity: 0;
    margin-top: -2px;
    background-color: var(--primaria);
    display: none;
    position: absolute;
    transition: all .3s;
    box-shadow: 5px 5px 10px rgb(22, 22, 22);
}
#menu-h ul li{
    float: left;
}
#menu-h ul li a{
    display: block;
    padding: 10px;
}
#menu-h li:hover ul{
    display: block;
    opacity: 1;
}
#menu-h ul li a:hover{
    background-color: var(--secundaria);
    transform: translateX(10px);
    box-shadow: 0px 1px 10px rgb(0, 0, 0);
}
.logo{
    float: left;
}
.logo img{
    height: 60px;
}
#menu-h .munu-carrio{
    width: 155px;
}
#menu-h .munu-use{
    width: 78px;
}
@media (max-width: 768px) {
    #menu-h{
        width: 90%;
    }
}